
--  Num Tables: 11
/*
READ procedure for [dbo].[AL_Centre_colectare]
*/
CREATE PROCEDURE [dbo].[READ_AL_Centre_colectare]
AS
SELECT * from [dbo].[AL_Centre_colectare]

GO

/*
READ procedure for [dbo].[AL_Grila_pret_centre_colectare]
*/
CREATE PROCEDURE [dbo].[READ_AL_Grila_pret_centre_colectare]
AS
SELECT * from [dbo].[AL_Grila_pret_centre_colectare]

GO

/*
READ procedure for [dbo].[AL_Grila_preturi_centre_colectare]
*/
CREATE PROCEDURE [dbo].[READ_AL_Grila_preturi_centre_colectare]
AS
SELECT * from [dbo].[AL_Grila_preturi_centre_colectare]

GO

/*
READ procedure for [dbo].[AL_Producatori]
*/
CREATE PROCEDURE [dbo].[READ_AL_Producatori]
AS
SELECT * from [dbo].[AL_Producatori]

GO

/*
READ procedure for [dbo].[Judete]
*/
CREATE PROCEDURE [dbo].[READ_Judete]
AS
SELECT * from [dbo].[Judete]

GO

/*
READ procedure for [dbo].[Lm]
*/
CREATE PROCEDURE [dbo].[READ_Lm]
AS
SELECT * from [dbo].[Lm]

GO

/*
READ procedure for [dbo].[Localitati]
*/
CREATE PROCEDURE [dbo].[READ_Localitati]
AS
SELECT * from [dbo].[Localitati]

GO

/*
READ procedure for [dbo].[rute]
*/
CREATE PROCEDURE [dbo].[READ_rute]
AS
SELECT * from [dbo].[rute]

GO

/*
READ procedure for [dbo].[Tari]
*/
CREATE PROCEDURE [dbo].[READ_Tari]
AS
SELECT * from [dbo].[Tari]

GO

/*
READ procedure for [dbo].[terti]
*/
CREATE PROCEDURE [dbo].[READ_terti]
AS
SELECT * from [dbo].[terti]

GO

/*
READ procedure for [dbo].[utilizatori]
*/
CREATE PROCEDURE [dbo].[READ_utilizatori]
AS
SELECT * from [dbo].[utilizatori]

GO


