/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * This comment will appear at the top of your auto-generated file.
 * This file was generated automatically by a T4 Template 
 * DO NOT EDIT MANUALLY!
 */
CREATE PROCEDURE AL_Producatori_insert

AS
BEGIN
    SELECT
		D.[id_prod]
		,D.[cod_prod]
		,D.[denumire]
		,D.[initiala_tata]
		,D.[CNP_CUI]
		,D.[serie_BI]
		,D.[nr_BI]
		,D.[elib_BI]
		,D.[cod_jud]
		,D.[cod_loc]
		,D.[cod_tara]
		,D.[comuna]
		,D.[sat]
		,D.[strada]
		,D.[nr_str]
		,D.[nr_casa]
		,D.[bloc]
		,D.[scara]
		,D.[etaj]
		,D.[ap]
		,D.[cod_exploatatie]
		,D.[cota_actuala]
		,D.[grad_actual]
		,D.[nr_contr]
		,D.[data_contr]
		,D.[valabil_contr]
		,D.[cant_contr]
		,D.[nr_vaci]
		,D.[grupa]
		,D.[pret]
		,D.[bonus]
		,D.[tip_pers]
		,D.[subunit]
		,D.[tert]
		,D.[reprezentant]
		,D.[CNP_repr]
		,D.[id_centru]
		,D.[loc_munca]
		,D.[DACL]
		,D.[tip_furnizor]
		,D.[cont_banca]
		,D.[banca]
		,D.[data_operarii]
		,D.[operator]
		,D.[detalii]
    FROM [dbo].[AL_Producatori] AS D
		LEFT JOIN [dbo].[AL_Producatori] AS I ON 1 = 1
			 AND D.[id_prod] = I.[id_prod]

-- Table [dbo].[AL_Producatori]
	-- Primary key column [dbo].[AL_Producatori].[id_prod]

	--Ignore Foreign key relationship [dbo].[FK_AL_Achizitii_Producatori] from table [dbo].[AL_Achizitii] to [dbo].[AL_Producatori].[id_prod]
--.
