
--  Num Tables: 17
/*
READ procedure for [dbo].[AL_Achizitii]
*/
CREATE PROCEDURE [dbo].[READ_AL_Achizitii]
AS
SELECT * from [dbo].[AL_Achizitii]

GO

/*
READ procedure for [dbo].[AL_Analize_achizitii]
*/
CREATE PROCEDURE [dbo].[READ_AL_Analize_achizitii]
AS
SELECT * from [dbo].[AL_Analize_achizitii]

GO

/*
READ procedure for [dbo].[AL_Centre_colectare]
*/
CREATE PROCEDURE [dbo].[READ_AL_Centre_colectare]
AS
SELECT * from [dbo].[AL_Centre_colectare]

GO

/*
READ procedure for [dbo].[AL_Indicatori_analiza]
*/
CREATE PROCEDURE [dbo].[READ_AL_Indicatori_analiza]
AS
SELECT * from [dbo].[AL_Indicatori_analiza]

GO

/*
READ procedure for [dbo].[AL_Indicatori_analiza_Tipuri_lapte]
*/
CREATE PROCEDURE [dbo].[READ_AL_Indicatori_analiza_Tipuri_lapte]
AS
SELECT * from [dbo].[AL_Indicatori_analiza_Tipuri_lapte]

GO

/*
READ procedure for [dbo].[AL_Liste_achizitii]
*/
CREATE PROCEDURE [dbo].[READ_AL_Liste_achizitii]
AS
SELECT * from [dbo].[AL_Liste_achizitii]

GO

/*
READ procedure for [dbo].[AL_Producatori]
*/
CREATE PROCEDURE [dbo].[READ_AL_Producatori]
AS
SELECT * from [dbo].[AL_Producatori]

GO

/*
READ procedure for [dbo].[AL_Tipuri_lapte]
*/
CREATE PROCEDURE [dbo].[READ_AL_Tipuri_lapte]
AS
SELECT * from [dbo].[AL_Tipuri_lapte]

GO

/*
READ procedure for [dbo].[Judete]
*/
CREATE PROCEDURE [dbo].[READ_Judete]
AS
SELECT * from [dbo].[Judete]

GO

/*
READ procedure for [dbo].[Lm]
*/
CREATE PROCEDURE [dbo].[READ_Lm]
AS
SELECT * from [dbo].[Lm]

GO

/*
READ procedure for [dbo].[Localitati]
*/
CREATE PROCEDURE [dbo].[READ_Localitati]
AS
SELECT * from [dbo].[Localitati]

GO

/*
READ procedure for [dbo].[nomencl]
*/
CREATE PROCEDURE [dbo].[READ_nomencl]
AS
SELECT * from [dbo].[nomencl]

GO

/*
READ procedure for [dbo].[rute]
*/
CREATE PROCEDURE [dbo].[READ_rute]
AS
SELECT * from [dbo].[rute]

GO

/*
READ procedure for [dbo].[Tari]
*/
CREATE PROCEDURE [dbo].[READ_Tari]
AS
SELECT * from [dbo].[Tari]

GO

/*
READ procedure for [dbo].[terti]
*/
CREATE PROCEDURE [dbo].[READ_terti]
AS
SELECT * from [dbo].[terti]

GO

/*
READ procedure for [dbo].[um]
*/
CREATE PROCEDURE [dbo].[READ_um]
AS
SELECT * from [dbo].[um]

GO

/*
READ procedure for [dbo].[utilizatori]
*/
CREATE PROCEDURE [dbo].[READ_utilizatori]
AS
SELECT * from [dbo].[utilizatori]

GO


